@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: linear-gradient(to right, #333867, #17193b);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  /* background: blue; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.invert-shadow {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0);
}

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none; /* for Internet Explorer */
  scrollbar-width: none; /* for Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for WebKit browsers like Chrome and Safari */
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.MuiChartsAxis-tickLabel {
  fill: white;
}
.MuiBarElement-root {
  fill: #0a56ef;
}
/* #Bagalkote {
  fill: #ff5733;
}

#BangaloreRural {
  fill: #ffbd33;  
}

#BangaloreUrban {
  fill: #33ff57;  
}

#Belagavi {
  fill: #3357ff; 
}

#Bellary {
  fill: #ff33bd;  
}

#Bidar {
  fill: #ff5733;  
}

#Bijapur {
  fill: #ffbd33;  
}

#Chamarajanagar {
  fill: #33ff57;  
}
#Chikkamagaluru {
  fill: #3357ff;  
}

#Chitradurga {
  fill: #ff33bd; 
}

#DakshinaKannada {
  fill: #ff5733;  
}

#Davanagere {
  fill: #ffbd33;  
}

#Dharwad {
  fill: #33ff57; 
}

#Gadag {
  fill: #3357ff;  
}

#Gulbarga {
  fill: #ff33bd; 
}

#Hassan {
  fill: #ff5733; 
}

#Haveri {
  fill: #ffbd33;  
}

#Kodagu {
  fill: #33ff57; 
}

#Kolar {
  fill: #3357ff;  
}

#Koppal {
  fill: #ff33bd;  
}

#Mandya {
  fill: #ff5733;  
}

#Mysore {
  fill: #ffbd33; 
}

#Raichur {
  fill: #33ff57;  
}

#Shimoga {
  fill: #3357ff;  
}

#Tumkur {
  fill: #ff33bd;  
}
#Udupi {
  fill: #ff5733;  
}

#UttaraKannada {
  fill: #ffbd33;  
}  */
